

.btn{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500 !important;
    border-radius: 5px;
    font-size: 16px;
    gap: 4px;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
   
}

nav{
    height: 100%;
}
.btn-section{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b0b3b8;
    background:none;
    width: 10%;
    height: 80%;
    border: none;
    font-size: 15px;
    font-weight: 600;
    transition: all 300ms ease-in-out;
    position: relative;
    border-radius: 10px;

}
.btn-section.active{
   
    color: #285a96;
    font-weight: bold;
}
.btn-section.active:hover{
    background: none;
    
}
.btn-section:hover{
    background: #505151;;
    
}
.btn-section::after{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #2E89FF;
    transform: scaleX(0);
    transition: all 300ms ease-in-out;
} 
.btn-section.active::after{
    transform: scaleX(1);
}


.btn-shake{
    transform: scaleX(1);
}
